
<form class="form-inline" name="editItemsForm">
  <div class="form-control">
    <!-- <label for="itemList" class="groupspace">Item :</label> -->
    <input type="text" ng-model="editItems.itemList" class="form-control form-control-sm groupspace" id="itemList" required
      placeholder="Enter a item">
      <button type="submit" ng-click="editItems.saveItem()" class="btn btn-primary btn-sm">Save</button>
  </div>
</br>
  <div class="form-group message" ng-if="editItems.error">
    <p class="navbar-text"><span class={{editItems.styleText}}>{{editItems.error}}</span></p>
  </div>
</form>
</br>
<h3>Items list</h3>
<table class="table table-responsive-sm widthcomponents">
  <tbody>
     <tr ng-repeat="item in editItems.itemsList">
        <th scope="row">{{$index+1}}</th>
        <td class="col-sm-8">{{ item.name }}</td>
        <td class="col-sm-2"><button ng-click="editItems.removeItem(item.name);" class="btn btn-outline-info btn-sm">Delete</button></td>
     </tr>
  </tbody>
</table>
