<form class="form-inline" name="slForm">
  <div class="form-group">
    <label for="itemList">Item</label>

    <select name="itemsSelect" id="itemsSelect" class="form-control" required placeholder="Enter a item"
      ng-options="option.name for option in editShoppingList.dataSelect.availableOptions track by option.name"
      ng-model="editShoppingList.dataSelect.singleSelect">
    </select>
    <!-- <tt>option = {{editShoppingList.dataSelect.singleSelect}}</tt><br/> -->
    <!-- <input type="text" ng-model="editShoppingList.itemList" class="form-control" id="itemList" required
      placeholder="Enter a item"> -->
  </div>
  <div class="form-group {{editShoppingList.styleInput}}">
    <label for="itemAmount">Amount</label>
    <input type="text" ng-model="editShoppingList.itemAmount" class="form-control" id="itemAmount" required
      placeholder="Amount">
  </div>
  <button type="submit" ng-click="editShoppingList.addItemInShoppingList(editShoppingList.dataSelect.singleSelect.name, editShoppingList.itemAmount)"
          class="btn btn-primary">Add</button>

  <!-- <div class="form-group message" ng-if="editShoppingList.error">
    <p class="navbar-text"><span class={{editShoppingList.styleText}}>{{editShoppingList.error}}</span></p>
  </div> -->
</form>

<br>
<!-- <ul class="list-group">
  <li class="list-group-item" ng-repeat="item in editShoppingList.shoppingList">
    {{ item.name }} - {{ item.quantity }}
    <button ng-click="editShoppingList.removeItem($index);" class="btn btn-primary btn-sm">Delete</button>
  </li>
</ul> -->

<table class="table-bordered table-responsive-sm">
  <thead ng-if="!editShoppingList.isEmpty()">
    <tr>
      <th scope="col"><p class="text-center">#</p></th>
      <th scope="col"><p class="text-center">Item - Quantity</p></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     <tr ng-repeat="item in editShoppingList.shoppingList">
        <th class="col-sm-1" scope="row">{{$index+1}}</th>
        <td class="col-sm-8">{{ item.name }} - {{ item.quantity }}</td>
        <td class="col-sm-2"><button ng-click="editShoppingList.removeItem($index);" class="btn btn-primary btn-sm">Delete</button></td>
     </tr>
  </tbody>
</table>
