<!-- <ui-view></ui-view> -->
<link rel="stylesheet" href="css/home.css">

<div ng-controller="HomeController" ng-cloak>
  <h1>Welcome to our shopping list application!! </h1>
<md-content class="md-padding home">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="main.shoppinglists" name="page1">
        Shopping Lists
      </md-nav-item>
      <md-nav-item md-nav-sref="main.edit" name="page2">
        Edit Shopping Lists
      </md-nav-item>
      <md-nav-item md-nav-sref="main.items" name="page3">
        Edit Items
      </md-nav-item>
    </md-nav-bar>
    <br>
    <ui-view></ui-view>
  </md-content>
</div>
